<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Salariés seniors</title>
    <link rel="stylesheet" href="/seniors-employment/static/style.css" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/seniors-employment/static/favicon-32x32.png"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
    />
  </head>

  <body>
    <header class="site-header">
      <h1>
        <span data-lang="fr">Les salariés au voisinage de la retraite</span>
        <span data-lang="en" hidden>Employees approaching retirement</span>
      </h1>

      <!-- Language switch -->
      <div class="lang-switch">
        <button data-lang="fr" class="active">FR</button>
        <button data-lang="en">EN</button>
      </div>

      <!-- Burger menu -->
      <div class="burger-menu">
        ☰
        <nav class="dropdown-menu">
          <a href="homepage.html">
            <span data-lang="fr">Accueil</span>
            <span data-lang="en" hidden>Home</span>
          </a>
          <a href="reforme.html">
            <span data-lang="fr">La réforme</span>
            <span data-lang="en" hidden>Pension reform</span>
          </a>
          <a href="contrats.html">
            <span data-lang="fr">Les fins de CDI</span>
            <span data-lang="en" hidden>End of permanent contracts</span>
          </a>
          <a href="description.html">
            <span data-lang="fr">Les salariés seniors</span>
            <span data-lang="en" hidden>Senior employees</span>
          </a>
          <a href="modelisation.html">
            <span data-lang="fr">Analyse économétrique</span>
            <span data-lang="en" hidden>Econometric analysis</span>
          </a>
          <a href="apropos.html">
            <span data-lang="fr">À propos</span>
            <span data-lang="en" hidden>About</span>
          </a>
        </nav>
      </div>
    </header>

    <main>
      <section class="bubble">
        <h2>
          <span data-lang="fr">Origine des données</span>
          <span data-lang="en" hidden>Data sources</span>
        </h2>
        <p>
          <span data-lang="fr">
            Cette section vise à décrire les salariés au voisinage de la
            retraite pour comprendre leurs spécificités en matière d’emploi.
          </span>
          <span data-lang="en" hidden>
            This section aims to describe employees nearing retirement in order
            to understand their specific employment characteristics.
          </span>
        </p>
        <p>
          <span data-lang="fr">
            L’analyse s’appuie sur des données administratives issues des
            déclarations sociales nominatives (DSN), générées automatiquement
            chaque mois par le biais des logiciels de paie utilisés par les
            employeurs. La base de données recense de façon exhaustive
            l’ensemble des contrats en France depuis 2021 (hors travailleurs
            indépendants et salariés de particuliers). Elle contient des
            informations sur les contrats en eux-mêmes, mais aussi sur les
            salariés, les entreprises et les lieux de travail.
          </span>
          <span data-lang="en" hidden>
            The analysis is based on administrative data from the nominative
            social declarations (DSN), automatically generated each month by the
            payroll software used by employers. The database comprehensively
            lists all contracts in France since 2021 (excluding self-employed
            workers and domestic employees). It contains information on the
            contracts themselves, as well as on employees, companies, and
            workplaces.
          </span>
        </p>

        <p>
          <span data-lang="fr">
            Pour rendre ces données exploitables, la Dares a développé le
            Système d’information sur les mouvements de main d’œuvre (Sismmo) :
            il recrée le parcours des salariés en compilant toutes les
            informations concernant chacun d’entre eux.
          </span>
          <span data-lang="en" hidden>
            To make this data usable, Dares developed the Workforce Movement
            Information System (Sismmo): it recreates the career path of
            employees by compiling all the information concerning each of them.
          </span>
        </p>

        <a
          href="https://dares.travail-emploi.gouv.fr/enquete-source/la-declaration-sociale-nominative"
          class="link"
        >
          <span data-lang="fr"
            >Déclaration Sociale Nominative - Dares, 2023</span
          >
          <span data-lang="en" hidden
            >Déclaration Sociale Nominative - Dares, 2023</span
          >
          <span class="arrow">→</span>
        </a>
      </section>

      <section class="bubble">
        <h2>
          <span data-lang="fr"
            >Les salariés âgés de 53 à 62 ans en fin de CDI</span
          >
          <span data-lang="en" hidden
            >Employees between 53 nd 62 at end of permanent contract</span
          >
        </h2>
        <p>
          <span data-lang="fr">
            L’extraction réalisée sur cette base comporte 2 218 001 CDI achevés
            entre le 1<sup>er</sup> Sept 2021 et le 31 août 2025, concernant des
            personnes âgées entre 53 et 62 ans à la fin de leur contrat. Les
            statistiques suivantes décrivent donc des fins de contrats et non
            des salariés en contrat.
          </span>
          <span data-lang="en" hidden>
            The data extracted from this database includes 2,218,001 permanent
            employment contracts (CDI) that ended between September 1, 2021, and
            August 31, 2025, concerning individuals aged between 53 and 62 at
            the end of their contracts. The following statistics therefore
            describe contract terminations and not employees under contract.
          </span>
        </p>
      </section>

      <section class="bubble">
        <img
          src="/seniors-employment/static/part_sexe_tr_age.png"
          class="bubble-image"
        />
        <p>
          <span data-lang="fr">
            On observe les mêmes proportions de sexe des salariés en fin de CDI
            pour les deux tranches d’âge. La différence de nombre de fins de CDI
            entre les hommes et les femmes peut s’expliquer par le nombre plus
            important de CDI détenus par les hommes.
          </span>
          <span data-lang="en" hidden>
            The same gender proportions among employees at the end of permanent
            contracts are observed for both age groups. The difference in the
            number of contract endings between men and women can be explained by
            the higher number of permanent contracts held by men.
          </span>
        </p>
        <a
          href="https://dares.travail-emploi.gouv.fr/sites/default/files/f58931686506db20fe8f8ab34d2d902f/Dares%20R%C3%A9sultats_Les%20seniors%20sur%20le%20march%C3%A9%20du%20travail%20en%202024.pdf"
          class="link"
        >
          <span data-lang="fr"
            >Les seniors sur le marché du travail en 2024 - Dares, 2024</span
          >
          <span data-lang="en" hidden
            >Seniors in the labor market in 2024 - Dares, 2024</span
          >
          <span class="arrow">→</span>
        </a>
      </section>

      <section class="bubble">
        <img
          src="/seniors-employment/static/distr_age.png"
          class="bubble-image"
        />
        <p>
          <span data-lang="fr">
            <i>Note de lecture :</i> parmi les fins de CDI des 53-62 ans,
            environ 10% d’entre eux concernent des salariés âgés de 53 ans.
          </span>
          <span data-lang="en" hidden>
            <i>Reading note:</i> among the permanent contract terminations of
            53-62 year olds, about 10% of them involve employees aged 53.
          </span>
        </p>
        <p>
          <span data-lang="fr">
            On observe une diminution des fins de CDI entre 53 et 59 ans. Cela
            peut s’expliquer par une baisse de l’employabilité perçue des
            seniors à mesure que l’âge avance : les salariés seraient ainsi
            moins enclins à perdre ou quitter leur emploi, par crainte de
            rencontrer des difficultés à retrouver un poste. Cette prudence est
            d’autant plus marquée que ces âges correspondent à une période
            charnière, durant laquelle les individus sont encore trop éloignés
            de l’âge de départ à la retraite.
          </span>
          <span data-lang="en" hidden>
            There is a decrease in the end of permanent contracts (CDI) between
            the ages of 53 and 59. This can be explained by a perceived decline
            in the employability of older workers as they age: employees may be
            less willing to lose or leave their jobs for fear of encountering
            difficulties finding another position. This caution is even more
            pronounced because these ages correspond to a transitional period,
            during which individuals are still too far from retirement age.
          </span>
        </p>
        <p>
          <span data-lang="fr">
            Le nombre important de fins de CDI à 60 ans correspond aux départs
            en retraite anticipée pour carrière longue, tandis que le second pic
            à 62 ans concorde avec l’âge légal de départ à la retraite.
          </span>
          <span data-lang="en" hidden>
            The large number of permanent contract terminations at age 60
            corresponds to early retirement for long careers, while the second
            peak at 62 coincides with the legal retirement age.
          </span>
        </p>
      </section>

      <section class="bubble">
        <img
          src="/seniors-employment/static/distr_pcs_tr_age.png"
          class="bubble-image"
        />
        <p>
          <span data-lang="fr">
            Selon l’âge à la sortie du contrat, la répartition des professions
            et catégories socioprofessionnelles (PCS) diffère légèrement. Par
            exemple, la PCS « ouvriers non qualifiés de type artisanal »
            représente environ 20% des fins de contrat pour les sorties entre 53
            et 57 ans, contre 17 % pour les 58-62 ans.
          </span>
          <span data-lang="en" hidden>
            Depending on the age at contract termination, the distribution of
            professions and socio-professional categories (PCS) differs
            slightly. For example, the PCS "unskilled manual workers of the
            artisanal type" accounts for about 20% of contract terminations for
            those leaving between ages 53 and 57, compared to 17% for those aged
            58-62.
          </span>
        </p>
        <p>
          <span data-lang="fr">
            Ni les PCS ni leur pourcentage sont exactement les mêmes entre les
            deux groupes, ce qui justifie de les insérer dans le modèle
            économétrique comme variable de contrôle.
          </span>
          <span data-lang="en" hidden>
            Neither the occupational categories nor their percentages are
            exactly the same between the two groups, which justifies including
            them in the econometric model as a control variable.
          </span>
        </p>
      </section>

      <section class="bubble">
        <img
          src="/seniors-employment/static/distr_secteur_tr_age.png"
          class="bubble-image"
        />
        <p>
          <span data-lang="fr">
            De même que les catégories socioprofessionnelles, les secteurs
            d’activité et leur répartition ne sont pas les mêmes en fonction de
            l’âge en sortie de contrat, ce qui justifie de les insérer également
            dans le modèle économétrique comme variable de contrôle.
          </span>
          <span data-lang="en" hidden>
            Just like socio-professional categories, sectors of activity and
            their distribution vary depending on age at the end of the contract,
            which justifies including them in the econometric model as control
            variables.
          </span>
        </p>
      </section>

      <section class="bubble">
        <img
          src="/seniors-employment/static/distr_motif_age.png"
          class="bubble-image"
        />

        <p>
          <span data-lang="fr">
            <i>
              Note : La catégorie « erreur de déclaration » regroupe les
              disparitions anormales de contrats et des motifs réservés aux CDD
              renseignés pour des fins de CDI.
            </i>
          </span>
          <span data-lang="en" hidden>
            <i>
              Note: The “reporting error” category includes abnormal contract
              disappearances and termination reasons reserved for fixed-term
              contracts but recorded for permanent contracts.
            </i>
          </span>
        </p>
        <p>
          <span data-lang="fr">
            <i>
              Note : la catégorie « autre » regroupe l’ensemble des motifs de
              rupture restant, dont les licenciements économiques par exemple.
            </i>
          </span>
          <span data-lang="en" hidden>
            <i>
              Note: the 'other' category includes all remaining reasons for
              termination, such as, for example, economic layoffs.
            </i>
          </span>
        </p>
        <p>
          <span data-lang="fr">
            La part des démissions parmi les fins de contrat diminue
            progressivement entre 53 et 60 ans. Cette évolution peut s’expliquer
            par une baisse de l’employabilité perçue des seniors avec l’âge,
            conduisant les salariés à démissionner de moins en moins par crainte
            de ne pas retrouver un emploi.
          </span>
          <span data-lang="en" hidden>
            The proportion of resignations among contract terminations gradually
            decreases between the ages of 53 and 60. This trend can be explained
            by a perceived decline in senior workers' employability with age,
            leading employees to resign less and less for fear of not finding
            another job.
          </span>
        </p>
        <p>
          <span data-lang="fr">
            Bien que l’on observe des motifs de départ à la retraite avant 60
            ans, ceux-ci restent marginaux et correspondent à des situations
            particulières. À partir de 60 ans, certaines personnes ayant
            commencé à travailler très jeunes peuvent bénéficier d’un départ
            anticipé à la retraite, ce qui explique l’apparition plus marquée de
            ce motif. Ce phénomène continue dans une moindre mesure à 61 ans et
            un nouveau pic à 62 ans se dégage, représentant l'âge légal de
            départ à la retraite.
          </span>
          <span data-lang="en" hidden>
            Although there are cases of people retiring before the age of 60,
            these remain marginal and correspond to particular situations. From
            the age of 60, some people who started working very young can
            benefit from early retirement, which explains the more pronounced
            occurrence of this reason. This phenomenon continues to a lesser
            extent at 61, and a new peak emerges at 62, representing the legal
            age of retirement.
          </span>
        </p>
        <p>
          <span data-lang="fr">
            L’augmentation de la part des départs à la retraite à ces âges
            s’accompagne mécaniquement d’une baisse relative des autres motifs
            de fin de contrat, notamment des ruptures conventionnelles.
          </span>
          <span data-lang="en" hidden>
            The increase in the share of retirements at these ages is
            automatically accompanied by a relative decrease in other reasons
            for ending a contract, particularly mutual agreements to terminate.
          </span>
        </p>
        <p>
          <span data-lang="fr">
            En particulier, lorsque l’on compare nos deux groupes d’intérêt, les
            53-57 ans et les 58-62 ans, on observe des différences nettes dans
            la typologie des fins de contrat. Les salariés âgés de 53 à 57 ans
            sont en effet très peu concernés par les départs à la retraite, qui
            restent marginaux dans ce groupe. À l’inverse, pour les 58-62 ans,
            les fins de contrat sont de plus en plus marquées par la proximité
            du départ à la retraite, ce qui modifie la répartition des motifs de
            sortie de l’emploi.
          </span>
          <span data-lang="en" hidden>
            In particular, when comparing our two groups of interest, those aged
            53-57 and those aged 58-62, we observe clear differences in the
            types of contract endings. Employees aged 53 to 57 are indeed very
            little affected by retirements, which remain marginal in this group.
            Conversely, for those aged 58-62, contract endings are increasingly
            marked by the proximity to retirement, which changes the
            distribution of reasons for leaving employment.
          </span>
        </p>
      </section>

      <section class="bubble">
        <img
          src="/seniors-employment/static/taux_variation_reforme.png"
          class="bubble-image"
        />
        <p>
          <span data-lang="fr">
            Depuis la réforme, le taux de départ à la retraite a diminué de 6.2
            points de pourcent chez les 58-62 ans. Cette baisse semble être
            compensée par l’augmentation de 2 points de pourcent du taux des
            démissions, l’augmentation de 0.8 points de pourcent du taux de
            ruptures conventionnelles et celle de 3.3 points de pourcent des
            motifs « autres ». Depuis la réforme, le taux de départ à la
            retraite a diminué de 6.2 points de pourcent chez les 58-62 ans.
            Cette baisse semble être compensée par l’augmentation de 2 points de
            pourcent du taux des démissions, l’augmentation de 0.8 points de
            pourcent du taux de ruptures conventionnelles et celle de 3.3 points
            de pourcent des motifs « autres ».
          </span>
          <span data-lang="en" hidden>
            Since the reform, the retirement exit rate has decreased by 6.2
            percentage points among 58- to 62-year-olds. This decline appears to
            be offset by a 2 percentage point increase in the resignation rate,
            a 0.8 percentage point increase in the rate of mutual terminations,
            and a 3.3 percentage point increase in the 'other' reasons category.
          </span>
        </p>
      </section>
    </main>

    <footer>
      <p>
        Clotilde Carrotte | clotilde.carrotte@psl.eu <br />
        © 2026
      </p>
    </footer>

    <!-- Language switch script -->
    <script src="/seniors-employment/static/lang.js"></script>
  </body>
</html>
