<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Réforme - Salariés seniors</title>
    <link rel="stylesheet" href="/seniors-employment/static/style.css" />
    <link rel="icon" type="image/png" sizes="32x32" href="/seniors-employment/static/favicon-32x32.png" />
    <link rel="stylesheet"href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap"/>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
    />
  </head>

  <body>
    <header class="site-header">
      <h1>
        <span data-lang="fr">La réforme des retraites de 2023</span>
        <span data-lang="en" hidden>The 2023 pension reform</span>
      </h1>

      <!-- Language switch -->
      <div class="lang-switch">
        <button data-lang="fr" class="active">FR</button>
        <button data-lang="en">EN</button>
      </div>

      <!-- Burger menu -->
      <div class="burger-menu">
        ☰
        <nav class="dropdown-menu">
          <a href="homepage.html">
            <span data-lang="fr">Accueil</span>
            <span data-lang="en" hidden>Home</span>
          </a>
          <a href="reforme.html">
            <span data-lang="fr">La réforme</span>
            <span data-lang="en" hidden>Pension reform</span>
          </a>
          <a href="contrats.html">
            <span data-lang="fr">Les fins de CDI</span>
            <span data-lang="en" hidden>End of permanent contracts</span>
          </a>
          <a href="description.html">
            <span data-lang="fr">Les salariés seniors</span>
            <span data-lang="en" hidden>Senior employees</span>
          </a>
          <a href="modelisation.html">
            <span data-lang="fr">Analyse économétrique</span>
            <span data-lang="en" hidden>Econometric analysis</span>
          </a>
          <a href="apropos.html">
            <span data-lang="fr">À propos</span>
            <span data-lang="en" hidden>About</span>
          </a>
        </nav>
      </div>
    </header>

    <main>
      <section class="bubble">
        <h2>
          <span data-lang="fr">Le système de retraite en France</span>
          <span data-lang="en" hidden>The pension system in France</span>
        </h2>

        <p>
          <span data-lang="fr">
            Le système de retraite est obligatoire et fonctionne par
            répartition. Chaque employé ainsi que son employeur·euse cotisent
            pour la retraite de l’employé en fonction de son salaire, et les
            cotisations versées aujourd’hui financent les pensions des
            retraités actuels.
          </span>
          <span data-lang="en" hidden>
            The pension system in France is mandatory and operates on a
            pay-as-you-go basis. Both employees and employers contribute
            according to the employee’s salary, and current contributions
            finance the pensions of today’s retirees.
          </span>
        </p>

        <p>
          <span data-lang="fr">
            Le montant de pension perçue à la retraite dépend des professions exercées, 
            de l’âge légal de départ à la retraite et de la durée de travail. 
          </span>
          <span data-lang="en" hidden>
            The amount of pension received at retirement depends on the professions practiced, 
            the legal retirement age and the length of work.
          </span>
        </p>

        <img src="/seniors-employment/static/schema_retraites.png" class="bubble-image" />

        <p>
          <span data-lang="fr">
            L’âge légal de départ à la retraite correspond à l’âge à partir duquel un 
            salarié peut toucher une pension. A partir de 67 ans, chaque salarié arrêtant 
            son activité professionnelle bénéficie d’une pension à taux plein, sans condition 
            sur la durée de travail effectuée. Les salariés peuvent néanmoins atteindre un 
            taux plein avant 67 ans, s’ils ont atteint la durée travaillée nécessaire. 
          </span>
          <span data-lang="en" hidden>
            The legal retirement age is the age at which an employee can receive a pension. 
            From age 67, every employee who stops working is entitled to a full pension, 
            regardless of the length of their employment. However, employees can still qualify 
            for a full pension before age 67 if they have worked the required number of years.
          </span>
        </p>
        <p>
          <span data-lang="fr">
            Cependant, certains salariés peuvent prendre leur retraite de manière anticipée, avant 
            l’âge légal de départ selon certaines conditions :
          </span>
          <span data-lang="en" hidden>
            However, some employees can retire early, before the legal retirement age, under certain 
            conditions:
          </span>

          </p>
        <ul>
          <span data-lang = "fr">
            <li>Invalidité ; </li>
            <li>Carrière longue (agents ayant commencé jeune leur activité professionnelle) ; </li>
            <li>En qualité de parent de trois enfants ou d’un enfant atteint d’une infirmité ; </li>
            <li>Au titre d’une infirmité ou d’une maladie incurable ; </li>
            <li>Au titre d’une incapacité permanente d’au moins 50%. </li>
          </span>
          <span data-lang="en" hidden>
              <li>Disability;</li>
              <li>Long career (employees who began their professional activity at a young age);</li>
              <li>As a parent of three children or of a child with a disability;</li>
              <li>Due to a disability or incurable illness;</li>
              <li>Due to a permanent disability of at least 50%.</li>
          </span>
        </ul>
      </section>

      <section class="bubble">
        <h2>
          <span data-lang="fr">
            La réforme des retraites
          </span>
          <span data-lang="en" hidden>
            The pension reform
          </span>
        </h2>

        <p>
          <span data-lang="fr">
            La réforme des retraites appliquée à partir du 1<sup>er</sup> septembre 2023 
            comprend de nombreuses mesures. Sa suspension jusqu’au 31 août 2026 
            a été votée par l’Assemblé Nationale le 16 décembre 2025 ; les mesures 
            présentées ci-dessous ne sont donc plus appliquées pour le moment. 
          </span>
          <span data-lang="en" hidden>
            The pension reform implemented from September 1, 2023, includes numerous 
            measures. Its suspension until August 31, 2026, was voted on by the National 
            Assembly on December 16, 2025; the measures presented below are therefore not 
            currently in effect.
          </span>
        </p>
        </section>

        <section class="bubble">
        <h2>
          <span data-lang="fr">
            Décalage de l’âge légal de départ à la retraite
          </span>
          <span data-lang="en" hidden>
            Increase in the legal retirement age
        </h2>
        <p>
          <span data-lang="fr">
            La mesure principale de cette réforme concerne l’âge légal de départ à 
            la retraite, qui recule progressivement de 62 à 64 ans d’ici 2030. L’âge 
            légal de départ varie donc selon la date de naissance de l’employé : 
          </span>
          <span data-lang="en" hidden>
            The main provision of the reform concerns the legal retirement age,
            which is gradually increasing from 62 to 64 by 2030. As a result,
            the applicable retirement age depends on the employee’s year of
            birth:
          </span>
        </p>
        <table class="table" data-lang="fr">
          <tr>
            <td><b>Date de naissance</b></td>
            <td><b>Âge légal de départ à la retraite</b></td>
          </tr>
          <tr>
            <td>Jusqu'au 31 aoput 1961</td>
            <td>62 ans</td>
          </tr>
          <tr>
            <td>Du 1<sup>er</sup> septembre au 31 décembre 1961</td>
            <td>62 ans et 3 mois</td>
          </tr>
          <tr>
            <td>1962</td>
            <td>62 ans et 6 mois</td>
          </tr>
          <tr>
            <td>1963</td>
            <td>62 ans et 9 mois</td>
          </tr>
          <tr>
            <td>1964</td>
            <td>63 ans</td>
          </tr>
          <tr>
            <td>1965</td>
            <td>63 ans et 3 mois</td>
          </tr>
          <tr>
            <td>1966</td>
            <td>62 ans et 6 mois</td>
          </tr>
          <tr>
            <td>1967</td>
            <td>62 ans et 9 mois</td>
          </tr>
          <tr>
            <td>A partir de 1968</td>
            <td>64 ans</td>
          </tr>
        <table class="table" data-lang="en" hidden>
          <tr>
            <td><b>Date of Birth</b></td>
            <td><b>Legal Retirement Age</b></td>
          </tr>
          <tr>
            <td>Until August 31, 1961</td>
            <td>62 years</td>
          </tr>
          <tr>
            <td>From September 1 to December 31, 1961</td>
            <td>62 years and 3 months</td>
          </tr>
          <tr>
            <td>1962</td>
            <td>62 years and 6 months</td>
          </tr>
          <tr>
            <td>1963</td>
            <td>62 years and 9 months</td>
          </tr>
          <tr>
            <td>1964</td>
            <td>63 years</td>
          </tr>
          <tr>
            <td>1965</td>
            <td>63 years and 3 months</td>
          </tr>
          <tr>
            <td>1966</td>
            <td>62 years and 6 months</td>
          </tr>
          <tr>
            <td>1967</td>
            <td>62 years and 9 months</td>
          </tr>
          <tr>
            <td>From 1968 onwards</td>
            <td>64 years</td>
          </tr>
        </table>
      </section>

      <section class="bubble">
        <h2>
          <span data-lang="fr">Les ruptures conventionnelles</span>
          <span data-lang="en" hidden>Separation by mutual agreement</span>
        </h2>

        <p>
          <span data-lang="fr">
            La rupture conventionnelle individuelle est un dispositif 
            entré en vigueur en France le 1<sup>er</sup> août 2028, qui permet à l’employeur et au salarié 
            de rompre d’un commun accord un CDI. Après une rupture conventionnelle, le salarié 
            peut percevoir des indemnités de France Travail. 
          </span>
          <span data-lang="en" hidden>
            The negotiated termination agreement is a mechanism that came into effect in France 
            on August 1, 2008, allowing employers and employees to mutually agree to terminate a 
            permanent employment contract (CDI). Following a negotiated termination, the employee may 
            receive compensation from France Travail.
          </span>
        </p>
        <p>
          <span data-lang="fr">
            Une indemnité de rupture conventionnelle est versée au salarié par l’employeur au moment 
            de la rupture du contrat. Après la réforme, le coût des ruptures conventionnelles concernant 
            les salariés de moins de 62 ans augmente pour l’employeur à partir du 1<sup>er</sup> septembre 2023.
          </span>
          <span data-lang="en" hidden>
            A severance payment is paid to the employee by the employer at the time of termination of 
            the contract. Following the reform, the cost of negotiated terminations for employees under 
            62 years of age will increase for the employer starting September 1, 2023.
          </span>
        </p>
        <table class="table" data-lang="fr">
          <tr>
            <td></td>
            <td><b>Avant l'âge légal</b></td>
            <td><b>Après l'âge légal</b></td>
          </tr>
          <tr>
            <td><b>Avant la réforme</b></td>
            <td>Taxe de 20% payée par l’employeur sur la part de l’indemnité non soumise aux cotisations sociales</td>
            <td>Indemnités traitées comme un salaire, sans avantage particulier</td>
          </tr>
          <tr>
            <td><b>Après la réforme</b></td>
            <td>Cotisation spécifique de 30% payée par l’employeur sur la part de l’indemnité non soumise aux cotisations sociales</td>
            <td>Cotisation spécifique de 30% payée par l’employeur sur la part de l’indemnité non soumise aux cotisations sociales</td>
          </tr>
        <table class ="table" data-lang="en" hidden>
          <tr>
            <td></td>
            <td><b>Before the legal age</b></td>
            <td><b>After the legal age</b></td>
          </tr>
          <tr>
            <td><b>Before the reform</b></td>
            <td>20% tax paid by the employer on the part of the compensation not subject to social contributions</td>
            <td>Compensation treated as salary, with no special benefits</td>
          </tr>
          <tr>
            <td><b>After the reform</b></td>
            <td>Specific 30% contribution paid by the employer on the part of the compensation not subject to social contributions</td>
            <td>Specific 30% contribution paid by the employer on the part of the compensation not subject to social contributions</td>
          </tr>
        </table> 
      </section>
    </main>

    <footer>
      <p>
        Clotilde Carrotte | clotilde.carrotte@psl.eu <br />
        © 2026
      </p>
    </footer>

    <!-- Language switch script -->
<script src="/seniors-employment/static/lang.js"></script>

</html>
